.details {
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 'border-info';
    font-family: 'Monaco', sans-serif;
    font-weight: bold;
    color: white;
    bottom: 0;
    position: relative;
}

html,body {
    height: 100vh;  
    max-width: auto;
    margin: 0 auto;
    padding-top: 00px;  
}

.wrapper {
    height: 100vh;
    overflow: auto;
}